<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuzb.gitee.mapper.LogMapper">

    <resultMap id="logDefine" type="com.zhuzb.gitee.domain.LogDefine">
        <result column="LOG_ID" property="logId"/>
        <result column="LOG_INFO" property="logInfo"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
    </resultMap>

    <select id="logList" resultMap="logDefine">
    select * from APP_LOG_DEFINE
    </select>
</mapper>